.footer {
    background:$asphalt;
    padding:rem-calc(4) 0;
    z-index:11;
    position: relative;
    // font-size:rem-calc(12);
    .footer-wrap{
        padding:rem-calc(8) 0;
    }
    p {
        margin-bottom:0;
        font-size:rem-calc(12);
        line-height: 1.2;
        color:lighten($asphalt, 40%);
        a {
            color:#fff;
            &:hover {
                color:lighten($green, 10%);
                span {
                    color:#fff;
                }
            }
            span {
                color:lighten($green, 10%);
            }
        }
    }
    .right {
        text-align: center;
    }
    .smaller {
        font-size:rem-calc(11);
    }
}
