.writing {
    background-color:#0e83cd;
    overflow: hidden;
    position:relative;
    z-index: 2;
    h2 {
        position: relative;
        &.subheader {
            color:darken(#0e83cd, 10%);
            font-size:rem-calc(28);
        }
    }
    .articles {
        // min-height: 280px;
        // position:relative;
        margin-top:rem-calc(30);
        // z-index:2;
        .article-items {
            div {
                // position: relative;
                text-align: center;
                margin-bottom:rem-calc(14px);
                a {
                    display: inline-block;
                    // @include transition(all 0.3s ease-in);
                    // -webkit-backface-visibility: hidden;
                    background:darken(#0e83cd, 10%);
                    &:hover {
                        // @include transform(scale(1.2));
                    }
                    img {
                        max-height:160px;
                    }
                }
            }
        }
    }

    @media #{$media-phone} {
        h2.subheader {
            font-size:rem-calc(24);
        }
    }
    @include breakpoint(medium down) {
        .article-items {
            padding-left:rem-calc(8);
            padding-right:rem-calc(8);
        }
    }
}
