.main-article.photography {
    background-color: $purple;
    max-height: 100%;
    overflow: hidden;
    position:relative;
    text-align: center;
    z-index: 3;
    &:after {
        // prevent right click to save images
        content: "";
        position:absolute;
        top:0;left:0;right:0;bottom:0;
    }
    .backstretch-wrap {
        position:absolute;
        top:0;right:0;left:0;width:0;
        width:100%;
        height:100%;
    }
    %type-background {
        background: $brown;
        background: rgba($brown, 0.8);
        // color:lighten($brown, 60%);
        padding:rem-calc(2, 4);
    }
    h2 {
        position: relative;
        z-index: 1;
        margin-bottom: rem-calc(22);
        span {
            @extend %type-background;
        }
        &.heading {
            span {
                display: inline-block;
                margin-bottom: rem-calc(6);
            }
        }
        &.subheader {
            font-size:rem-calc(22);
            // background: rgba(lighten($brown, 5%), 0.8);
            // color:lighten($brown, 30%);
            // padding:rem-calc(1, 2);
        }
    }
    .paused-message {
        position:absolute;
        top:0;
        z-index:1;
        width:100%;
        @extend %type-background;
        font-size: rem-calc(12);
        opacity:0;
        visibility: hidden;
        transition: all 200ms ease;
        color: $subheader-color;
    }
    .icon {
        top: 48%;
        left: 48%;
        transform: translate3d(-50%, -50%, 0);
        position:absolute;
        z-index: 1;
        font-size:rem-calc(24);
        display:block;
        color:#fff;
        opacity:0;
        visibility: hidden;
        transform-origin: center center;
    }
    %animation-on-state-change {
        visibility: visible;
        animation: poputFade 500ms ease;
    }
    &.paused {
        .icon-pause-circled {
            @extend %animation-on-state-change;
        }
        .paused-message {
            visibility: visible;
            opacity: 1;
        }
    }
    &.playing {
        .icon-play-circled {
            @extend %animation-on-state-change;
        }
    }

    @media #{$media-phone} {
        h2 {
            font-size:rem-calc(30);
            padding-top:10%;
            line-height:1.6;
            &.subheader {
                padding-top:0;
                padding-bottom:6%;
            }
        }
    }
}
