.developer {
    $bg: darken($asphalt, 5%);
    background-color: $bg;
    h2 {
        margin-bottom:0;
        line-height: 1.2;
        &.subheader {
            font-size:rem-calc(28);
            color:lighten($bg,30%);
            margin-bottom: rem-calc(20);
        }
    }
    .technologies-wrap {
        position:relative;
        h3 {
            margin-bottom: rem-calc(14);
        }
        .legend {
            text-align: center;
            span {
                cursor: help;
                position: relative;
                margin-right:1em;
                margin-bottom:0.4em;
                white-space: nowrap;
                display: inline-block;
                &:before {
                    content:'';
                    height:1em;
                    width: 1em;
                    left: 0;
                    top:2px;
                    margin-right:4px;
                    display:inline-block;
                    position: relative;
                    border: 1px solid;
                }
            }
        }
        .label {
            margin-bottom:rem-calc(2);
            margin-right:rem-calc(2);
            transition: all 0.2s ease-in;
            backface-visibility: hidden;
            border:1px solid;
        }

        // while this loop produces a bit more output code,
        // it allows for:
        // easier DOM manipulation (simple class addition vs traversing through elements)
        // easier maintenance (declared once in variables/$technology-label-map)
        @each $label, $map in $technology-label-map {
            .legend span.#{$label}:before,
            .label.#{$label} {
                background-color: map-get($map, background-color);
                border-color: map-get($map, border-color);
            }

            .technologies.list.#{$label} {
                .label:not(.#{$label}) {
                    background-color:lighten($bg, 3%);
                    color:darken(#fff, 20%);
                    border-color: lighten($bg, 3%);
                    transform: scale(0.7);
                }
            }
        }

        .experience hr {
            margin-left: auto;
            margin-right: auto;
            width:30%;
        }
    }

    @media #{$media-phone} {
        h2 {
            &.subheader {
                font-size:rem-calc(24);
            }
        }
    }
}
