.intro {
    width:100%;
    height:100%;
    z-index:1;
    position:relative;
    // background: image_url('intro_bg1.jpg');
    // background-repeat:no-repeat;
    // background-position: 50% 0;
    // background-attachment: fixed;
    // background-size: 100% auto;
  // background: -webkit-linear-gradient(#fff, $asphalt);



    background: radial-gradient(ellipse farthest-side at -10% 90%, rgba($green, 0.9) 20%, rgba($green,0.1)),
                        radial-gradient(ellipse farthest-side at 100% 75%, $purple, rgba($purple,0) 80%);
    background-color:darken($blue,4%);
    // background-color:lighten($green,34%);
    // background-color:darken(#00C86A, 5%);
// @include background(linear-gradient(147deg, #009DEB 1%, #00C86A 75%) repeat scroll 0 0 rgba(0, 0, 0, 0));

// @include background(radial-gradient(closest-corner, rgba(16, 47, 70, 0) 60%, rgba(16, 47, 70, 0.2)),
//                     linear-gradient(108deg, #E5E9BF 10%, #00396F 90%));
// @include background(radial-gradient(closest-corner, rgba(16, 47, 70, 0) 60%, rgba(16, 47, 70, 0.26)),
//                     linear-gradient(108deg, #26D0CE, #1A2980 90%));

// @include background(radial-gradient(closest-corner, rgba(16, 47, 70, 0) 60%, rgba(16, 47, 70, 0.2)), linear-gradient(108deg, #E0DA81, #E0A681 10%, #0F1B58 90%));
    // linear-gradient(left bottom, #fff 0%, $asphalt 100%)
  // @include background(radial-gradient(ellipse farthest-side at -10% 90%, rgba($asphalt, 0.9) 20%, rgba($asphalt,0)), /* #505A6A */
  //             radial-gradient(ellipse farthest-side at 100% 75%, #fff, rgba(#fff,0) 80%),
  //             radial-gradient(ellipse farthest-side at 85% 60%, lighten($asphalt,30%) 10%, rgba(lighten($asphalt,30%),0)), /* 787F8A */
  //             radial-gradient(circle closest-corner at 50% 0, #fff, #afb4bc));



// iPad Air
// background-color: #1e488f; // Old browsers
// @include filter-gradient(#1e488f, #91d8b8, horizontal); // IE6-9 fallback on horizontal gradient
// @include background-image(linear-gradient(left top,  #1e488f 0%,#8bb6ee 68%,#91d8b8 100%));


    .abs-centered {
        position:absolute;
        top:50%;
        left:50%;
    }
    .centered {
        top:24%;
        position:relative;
    }
    max-height:100%;

    // .abs-centered {
    //     margin-top: -5%;
    // }
    h1 {
        color: #fff;
        // height:200px;
        // margin-top:-100px;
        // top:50%;
        // position: relative;
        text-align: center;
        font-family: 'open_sansregular';
    }
    .profile-pic {
        width:emCalc(40);
        height:auto;
        border-radius: $global-rounded;
        margin-top:emCalc(6);
    }
    // .lang-selection {
    //     position:absolute;
    //     top:0;
    //     right:emCalc(20);
    //     ul {
    //         list-style: none;
    //         background:#3c6276;
    //         background:rgba($asphalt, 0.7);
    //         overflow: hidden;
    //         li {
    //             float:left;
    //             a {
    //                 display:block;
    //                 padding:emCalc(10, 15);
    //                 color:darken(#fff, 40%);
    //                 font-size:emCalc(16);
    //                 &:hover {
    //                     color:#fff;
    //                 }
    //                 &.active {
    //                     background:darken($asphalt, 10%);
    //                     color:#fff;
    //                 }
    //             }
    //         }
    //     }
    // }
    .scroll-down {
        position:absolute;
        bottom:0;
        left:50%;
        width:emCalc(280);
        height:50px;
        margin-left:emCalc(-140);
        text-align:center;
        span {
            display: inline-block;
        }
        i {
            top:emCalc(4);
            position:relative;
            font-size:emCalc(18);
            display:block;
        }
    }
}


.cssanimations {
    .intro {
        .hi,
        .i-am,
        .scroll-down {
            opacity:0;
        }
        .profile-pic {
            transform: scale(0);
        }
    }
}

.animate-on-load {
    .intro {
        .hi,
        .i-am,
        .scroll-down {
            animation: fadeIn 600ms 400ms ease-in forwards;
        }
        .i-am {
            animation-delay: 2000ms;
        }
        .profile-pic {
            animation: popupOut 400ms 3000ms linear forwards;
        }
        .scroll-down {
            animation-duration: 1000ms;
            animation-delay: 4000ms;
        }
    }
}
