extends ../page-partials/layout.pug

block vars
    -
        var currentPage = {
            name: "404",
            customClass: "error-page 404",
            wantAbsoluteAssets: true,
        }

block head
    style.
        html, body {
            min-height: 100%;
        }

block body

    main(role="main")
        section#content.content
            include ../page-partials/index/main-nav.pug
            .container
                .row
                    .small-10.medium-8columns.small-centered
                        h1.no-margin-bottom Not found
                        h2.no-margin-top
                            span 404
                        p.text-center
                            | Sorry, but the page you were trying to view does not exist.
                        p.no-margin-bottom
                            | It looks like this was the result of either:
                        ul.reasons
                            li a mistyped address
                            li an out-of-date link


