extends ../page-partials/layout.pug

block vars
    -
        var currentPage = {
            name: "index"
        }

block body
    include ../page-partials/js/loader.pug
    include ../page-partials/index/main-nav.pug
    include ../page-partials/index/header.pug

    main(role="main")
        #skrollr-body
            section#content.content
                include ../page-partials/index/article-developer.pug
                include ../page-partials/index/article-photography.pug
                include ../page-partials/index/article-writing.pug
                include ../page-partials/index/article-contact.pug
                include ../page-partials/index/footer.pug
    nav
        a#back-to-top.back-to-top(href="#top")
            i.icon-up-circled
