{
    "env": {
        "browser": true
    },
    "globals": {
        "Foundation": true,
        "jQuery": true,
        "$": true,
        "Modernizr": true,
        "_": true
    },
    "rules": {
        "comma-dangle": ["error", "always-multiline"],
        "no-cond-assign": ["error", "except-parens"],
        "no-console": "off",
        "no-constant-condition": "error",
        "no-control-regex": "error",
        "no-debugger": "error",
        "no-dupe-args": "error",
        "no-dupe-keys": "error",
        "no-duplicate-case": "error",
        "no-empty-character-class": "error",
        "no-empty": "error",
        "no-ex-assign": "error",
        "no-extra-boolean-cast": "warn",
        "no-extra-parens": "off",
        "no-extra-semi": "error",
        "no-func-assign": "error",
        "no-inner-declarations": "error",
        "no-invalid-regexp": "error",
        "no-irregular-whitespace": "error",
        "no-negated-in-lhs": "error",
        "no-obj-calls": "error",
        "no-regex-spaces": "error",
        "no-reserved-keys": "off",
        "no-sparse-arrays": "error",
        "no-unreachable": "error",
        "use-isnan": "error",
        "valid-jsdoc": "off",
        "valid-typeof": "error",
        "block-scoped-var": "error",
        "complexity": "warn",
        "consistent-return": "off",
        "curly": "error",
        "default-case": "off",
        "dot-notation": "error",
        "dot-location": ["error", "property"],
        "eqeqeq": "error",
        "guard-for-in": "off",
        "no-alert": "off",
        "no-caller": "error",
        "no-div-regex": "error",
        "no-else-return": "error",
        "no-eq-null": "error",
        "no-eval": "error",
        "no-extend-native": "error",
        "no-extra-bind": "error",
        "no-fallthrough": "warn",
        "no-floating-decimal": "error",
        "no-implied-eval": "error",
        "no-iterator": "error",
        "no-labels": "error",
        "no-lone-blocks": "error",
        "no-loop-func": "error",
        "no-multi-spaces": ["error", { "exceptions": { "VariableDeclarator": true }}],
        "no-multi-str": "error",
        "no-native-reassign": "error",
        "no-new-func": "off",
        "no-new-wrappers": "off",
        "no-new": "error",
        "no-octal-escape": "error",
        "no-octal": "error",
        "no-param-reassign": "off",
        "no-process-env": "error",
        "no-proto": "error",
        "no-redeclare": "error",
        "no-return-assign": "error",
        "no-script-url": "error",
        "no-self-compare": "error",
        "no-sequences": "error",
        "no-throw-literal": "error",
        "no-unused-expressions": "error",
        "no-void": "error",
        "no-warning-comments": "off",
        "no-with": "error",
        "radix": "error",
        "vars-on-top": "off",
        "wrap-iife": "off",
        "yoda": "error",
        "strict": "error",
        "no-catch-shadow": "off",
        "no-delete-var": "error",
        "no-label-var": "error",
        "no-shadow-restricted-names": "off",
        "no-shadow": "off",
        "no-undef-init": "error",
        "no-undef": "error",
        "no-undefined": "off",
        "no-unused-vars": "off",
        "no-use-before-define": "off",
        "handle-callback-err": "error",
        "no-mixed-requires": "off",
        "no-new-require": "error",
        "no-path-concat": "error",
        "no-process-exit": "error",
        "no-restricted-modules": "error",
        "no-sync": "off",
        "brace-style": ["error", "stroustrup"],
        "camelcase": "error",
        "comma-spacing": ["error", { "before": false, "after": true }],
        "comma-style": ["error", "last"],
        "consistent-this": ["error", "_this"],
        "eol-last": "error",
        "func-names": "off",
        "func-style": "off",
        "indent": "off",
        "key-spacing": "off",
        "linebreak-style": "error",
        "new-cap": "off",
        "new-parens": "error",
        "newline-after-var": "off",
        "no-array-constructor": "error",
        "no-continue": "error",
        "no-inline-comments": "off",
        "no-lonely-if": "error",
        "no-mixed-spaces-and-tabs": "error",
        "no-multiple-empty-lines": "error",
        "no-nested-ternary": "off",
        "no-new-object": "error",
        "no-spaced-func": "error",
        "no-ternary": "off",
        "no-trailing-spaces": "error",
        "no-underscore-dangle": ["error", { "allow": ["_this", "_general"] }],
        "no-unneeded-ternary": "off",
        "one-var": "off",
        "operator-assignment": "off",
        "operator-linebreak": "off",
        "padded-blocks": "off",
        "quote-props": "off",
        "quotes": ["error", "double"],
        "semi-spacing": ["error", {"before": false, "after": true}],
        "semi": "error",
        "sort-vars": "off",
        "keyword-spacing": ["error", {"before": true, "after": true}],
        "space-before-blocks": "off",
        "space-before-function-paren": ["error", "never"],
        "space-in-brackets": "off",
        "space-in-parens": "off",
        "space-infix-ops": "off",
        "space-return-throw-case": "off",
        "space-unary-ops": "off",
        "spaced-comment": "off",
        "wrap-regex": "off",
        "generator-star-spacing": "error",
        "no-var": "off",
        "object-shorthand": "off",
        "max-depth": "off",
        "max-len": "off",
        "max-params": "off",
        "max-statements": "off",
        "no-bitwise": "warn",
        "no-plusplus": "off"
    }
}
