html * { margin: 0; padding: 0; }
p { padding: 0 0 1em 0; }
section, aside { display: block; }

#container {
	width: 960px;
	margin: 0 auto;
	background: #ccc;
}

@media only screen and (max-width: 480px) {
	#container {
		width: 100%;
		background: #aaa;
	}

}