.content {
    position:relative;
    z-index:2;
    // top:1000px;;
    // height:1000px;
    background:darken(#fff, 5%);
    overflow: hidden;
    box-shadow: 0 -1px 2px rgba(60,60,60,0.4), 0 1px 2px rgba(60,60,60,0.4);
}


.click,
.tap {
    display:none;
}
.no-touch,
.no-js {
    .click {
        display:inline;
    }
}
.touch {
    .tap {
        display:inline;
    }
}



.no-js {
    .lazy {
        display:none;
    }
}




















@keyframes fade-in-bottom {
    0% { opacity: 0; transform: translateY(100%); }
    60% {opacity: 1; }
    100% { transform: translateY(0); }
}
.fade-in-bottom {
    animation-name: fade-in-bottom;
    // animation: fade-in-bottom 1 ease-out forwards;
    // transform: translateY(100%);
    // opacity:0;
}


@keyframes bounceInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(2000px);
    -ms-transform: translateY(2000px);
    transform: translateY(2000px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    transform: translateY(-30px);
  }

  80% {
    -webkit-transform: translateY(10px);
    -ms-transform: translateY(10px);
    transform: translateY(10px);
  }

  100% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

.bounceInUp {
  -webkit-animation-name: bounceInUp;
  animation-name: bounceInUp;
}

