.content {
    position:relative;
    z-index:2;
    // top:1000px;;
    // height:1000px;
    background:darken(#fff, 5%);
    overflow: hidden;
    box-shadow: 0 -1px 2px rgba(60,60,60,0.4), 0 1px 2px rgba(60,60,60,0.4);
}



.blurred {
    filter: blur(2px);
}

.scaledOut {
    transform: scale(0.6);
}

.grayscale {
    background-color:lighten($brown, 3%)!important;
    color:darken(#fff, 20%);
}



.no-js {
    .backstretch-wrap {
        background-image:image_url('photos/stuck-in-traffic.jpg');
        background-repeat:no-repeat;
        background-position: 50% 0;
        background-size: cover;
        // background-attachment: fixed;
        height:100%;
    }
    .photography .icon {
        display:none;
    }
}
@media #{$media-phone} {
    .developer {
        h2 {
            &.subheader {
                font-size:emCalc(24)!important;
            }
        }
    }
    .photography {
        h2 {
            font-size:emCalc(30);
            padding-top:10%;
            line-height:1.6;
            &.subheader {
                padding-top:0;
                padding-bottom:6%;
            }
        }
    }
    .writing {
        h2.subheader {
            font-size:emCalc(24)!important;
        }
        .small-block-grid-4 {
            padding-left:emCalc(8);
            padding-right:emCalc(8);
        }
    }
}




.backstretch {
    // &:before {
    //     content:'';
    //     position:absolute;
    //     top:0;
    //     left:0;
    //     right:0;
    //     bottom:0;
    //     width:100%;
    //     height:100%;
    //     background:rgba(#000, 0.2);
    // }
}

.click,
.tap {
    display:none;
}
.no-touch,
.no-js {
    .click {
        display:inline;
    }
}
.touch {
    .tap {
        display:inline;
    }
}



.no-js {
    .lazy {
        display:none;
    }
}




















@keyframes fade-in-bottom {
    0% { opacity: 0; transform: translateY(100%); }
    60% {opacity: 1; }
    100% { transform: translateY(0); }
}
.fade-in-bottom {
    animation-name: fade-in-bottom;
    // animation: fade-in-bottom 1 ease-out forwards;
    // transform: translateY(100%);
    // opacity:0;
}


@keyframes bounceInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(2000px);
    -ms-transform: translateY(2000px);
    transform: translateY(2000px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    transform: translateY(-30px);
  }

  80% {
    -webkit-transform: translateY(10px);
    -ms-transform: translateY(10px);
    transform: translateY(10px);
  }

  100% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

.bounceInUp {
  -webkit-animation-name: bounceInUp;
  animation-name: bounceInUp;
}

