// $skin:#f0635a;
$skin:#dd514c;
$purple:#725eed;
// $blue:#1299e8;
$blue:#0e90d2;
// $blue2:#0e83cd;
$pumpkin:#d35400;
// $green:#3eb941;
$green:#5eb95e;
$yellow:darken(#fcad26, 5%);
$asphalt:#34495e;
$green-sea:#16a085;
$brown:#3a3a3a;
$asbestos:#7f8c8d;
// $small-screen: 768px;
// $medium-screen: 1280px;
// $large-screen: 1440px;

// $screen: "only screen";
// $small: "only screen and (min-width: #{$small-screen})";
// $medium: "only screen and (min-width: #{$medium-screen})";
// $large: "only screen and (min-width: #{$large-screen})";
// $landscape: "only screen and (orientation: landscape)";
// $portrait: "only screen and (orientation: portrait)";

$media-phone: "only screen and (max-width : 480px)";
$footer-height: 86px;
$green:$green-sea;

