#loader.loader.animate.hide
    div
    div
    div
    div
    h1.default= $i18n.loader.loading
    h1.alternative= $i18n.loader.loadingAlt

script.
    (function() {
        // show loader for users with js enabled unless specifically requested otherwise
        var isLoaderNeeded = /loader=([^&]+)/.exec(document.location.href.replace(/#.*$/,""));
        isLoaderNeeded = isLoaderNeeded ? isLoaderNeeded[1] : null;
        var loaderEl = document.getElementById("loader");
        if (isLoaderNeeded !== "false") {
            loaderEl.classList.remove("hide");
            // trigger layout
            loaderEl.offsetLeft;
            // animate header (Almost there)
            loaderEl.classList.add("animate-headers");
        }
        else {
            loaderEl.parentNode.removeChild(loaderEl);
        }
    })();
