mixin playground-item(id, href, title, description)
    article(id!=id, class="playground-item " + id, role="article")
        a.item-link(href!="/playground/" + href)
        .title.inner
            h2= title
        .description.inner
            div= description
