/*
 
 File:RoundRectangle.css
 
 Abstract: CSS code for the RoundRectangle sample 
 
 Version: <1.0>
 
 Disclaimer: IMPORTANT:	 This Apple software is supplied to you by 
 Apple Inc. ("Apple") in consideration of your agreement to the
 following terms, and your use, installation, modification or
 redistribution of this Apple software constitutes acceptance of these
 terms.	 If you do not agree with these terms, please do not use,
 install, modify or redistribute this Apple software.
 
 In consideration of your agreement to abide by the following terms, and
 subject to these terms, Apple grants you a personal, non-exclusive
 license, under Apple's copyrights in this original Apple software (the
 "Apple Software"), to use, reproduce, modify and redistribute the Apple
 Software, with or without modifications, in source and/or binary forms;
 provided that if you redistribute the Apple Software in its entirety and
 without modifications, you must retain this notice and the following
 text and disclaimers in all such redistributions of the Apple Software. 
 Neither the name, trademarks, service marks or logos of Apple Inc. 
 may be used to endorse or promote products derived from the Apple
 Software without specific prior written permission from Apple.	 Except
 as expressly stated in this notice, no other rights or licenses, express
 or implied, are granted by Apple herein, including but not limited to
 any patent rights that may be infringed by your derivative works or by
 other works in which the Apple Software may be incorporated.
 
 The Apple Software is provided by Apple on an "AS IS" basis.  APPLE
 MAKES NO WARRANTIES, EXPRESS OR IMPLIED, INCLUDING WITHOUT LIMITATION
 THE IMPLIED WARRANTIES OF NON-INFRINGEMENT, MERCHANTABILITY AND FITNESS
 FOR A PARTICULAR PURPOSE, REGARDING THE APPLE SOFTWARE OR ITS USE AND
 OPERATION ALONE OR IN COMBINATION WITH YOUR PRODUCTS.
 
 IN NO EVENT SHALL APPLE BE LIABLE FOR ANY SPECIAL, INDIRECT, INCIDENTAL
 OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
 SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
 INTERRUPTION) ARISING IN ANY WAY OUT OF THE USE, REPRODUCTION,
 MODIFICATION AND/OR DISTRIBUTION OF THE APPLE SOFTWARE, HOWEVER CAUSED
 AND WHETHER UNDER THEORY OF CONTRACT, TORT (INCLUDING NEGLIGENCE),
 STRICT LIABILITY OR OTHERWISE, EVEN IF APPLE HAS BEEN ADVISED OF THE
 POSSIBILITY OF SUCH DAMAGE.
 
 Copyright (C) 2007 Apple Inc. All Rights Reserved.
 
 */ 
 



h1 
{
	margin:0;
	padding-top:10px;		  
	padding-right:10px;		 
	padding-bottom:10px;	
	padding-left:10px;
	
	font-size:17px;
	font-family: Helvetica;
	font-weight:bold;
	color: rgb(76,86,108);	 /* Set each label color */		
}

ul 
{	   
	padding: 0;	   
	margin-top:0;
	margin-right:10px;
	margin-bottom:17px;		  /* Set each list 17 pixels from the top of the button bar(or the top of the next list) */
	
	font-size:17px;
	font-family: Helvetica;
	font-weight:bold;
	color:black;
	
	width: 100%;
	background-color: white;       /* Each list has a white background fill */
	
	border-width: 1px;		       /* Draw a rectangle around each list */
	border-style:solid ;
	border-color:rgb(217,217,217);
	
	-webkit-border-radius: 8px;		 /* Round each corner of the created rectangle */
}


li
{	
	list-style-type: none;	
	
	border-top-width:1px;	/* Create lines between cells. Each line is placed above each item */
	border-top-style:solid;
	border-top-color:rgb(217,217,217);

	padding-top:10px;		  
	padding-right:10px;		 
	padding-bottom:14px;	 /* Indent the cell content 14 pixels from the bottom edge of a cell */
	padding-left:10px;	
}


li:first-child 
{
	border-top:0;    /* Remove border above the first item of the list */
}

/* ----------------------------------------- */
.forma {
	margin-left: 20px;
	width: 200px;
	height: 32px;
	font-size:18px;
	font-family: Helvetica;
	color:black;	
	box-sizing: border-box;
	padding-top: 7px;
	padding:left: 5px;
	}
	
.button	
{	
   /* Set a button to be a block so its height and width can be adjusted */
	display:block;		    
	
	/* Use the highest button height to ensure that text will vertically align on all buttons */
	
	
	/* A button will expand to the width of its parent cell if no width is specified */
	width:150px;			
	
	font-size: 20px;
	font-weight: bold;
	font-family:Heveltica;
	color: #FFFFFF;
	
	text-decoration: none;
	text-align:center;
}

.white 
{
	margin: 3px auto;
	border-width: 0 14px 0 14px;
	color: black;
	
	/*  Put a 1 pixel blur white shadow below the button's text  */
	text-shadow: #fff 0px 1px 1px;	
	
	/* Note that the -webkit-border-image values are given as  0 14 0 14 and not 0px 14px 0px 14px */
	-webkit-border-image:url(whiteButton.png) 0 14 0 14;
}

p {
    text-align:center;
    margin: 20px 0 10px 0;
    font-size: inherit;
    font-weight: bold;
    color: #4d4d70;
    text-shadow: rgba(255, 255, 255, 0.75) 2px 2px 0;
    
}
