article.main-article.contact#contact(role="article", aria-labelledby="main-title-contact")
    .row
        .large-12.columns
            h1#main-title-contact
                = $i18n.articleContact.contactMe

    .row.contact-circles-wrap#contact-circles-wrap
        .large-12.columns
            h2.subheader= $i18n.articleContact.viaSocial
            .contact-circles
                .contact-circle
                    a(href="https://twitter.com/iamvanja")
                        span.circle.twitter
                            i.icon-twitter
                        span.text
                            | Twitter
                .contact-circle
                    a(href="http://www.linkedin.com/in/vanjagavric")
                        span.circle.linkedin
                            i.icon-linkedin
                        span.text
                            | LinkedIn
                .contact-circle
                    a(href="https://github.com/iamvanja")
                        span.circle.github
                            i.icon-github-circled
                        span.text
                            | GitHub
                .contact-circle
                    a(href="http://flickr.com/vanja-gavric")
                        span.circle.flickr
                            i.icon-flickr
                        span.text
                            | Flickr
                .contact-circle
                    a(href="http://500px.com/iamvanja")
                        span.circle.fivehundredpx
                            i.icon-fivehundredpx
                        span.text
                            | 500px

            h2.subheader= $i18n.general.or

            .contact-circles
                #email-circle.contact-circle
                    a(data-username=email.username, data-domain=email.domain)
                        span.circle.mail
                            i.icon-email
                        span.text
                            = $i18n.articleContact.dropEmail
                .contact-circle
                    a(href="skype:vanja1000?call")
                        span.circle.skype
                            i.icon-skype
                        span.text
                            = $i18n.articleContact.callSkype
