article.main-article.photography#photography(role="article", aria-labelledby="main-title-photo")
    div.row
        div.large-12.columns
            h2#main-title-photo
                - var wordsArr = $i18n.articlePhotography.title.split(" ")
                each word in wordsArr
                    span= word
                    | 

            h2.subheader
                span= $i18n.articlePhotography.subtitle

            i.icon.icon-pause-circled#pause

    div.backstretch-wrap
        //- empty
