article.main-article.contact#contact(role="article", aria-labelledby="main-title-contact")
    .row
        .large-12.columns
            .article-icon
                i.icon-paper-plane

            h1#main-title-contact
                = $i18n.articleContact.contactMe

    .row.contact-circles-wrap#contact-circles-wrap.spy(data-spy-class="roll-in-right", data-spy-offset="150")
        .large-12.columns
            h2.subheader= $i18n.articleContact.viaSocial
            .contact-circles.social-networks
                .contact-circle
                    a(href="http://www.linkedin.com/in/vanjagavric")
                        span.circle.linkedin
                            i.icon-linkedin
                        span.text
                            | LinkedIn
                .contact-circle
                    a(href="https://github.com/iamvanja")
                        span.circle.github
                            i.icon-github-circled
                        span.text
                            | GitHub
                .contact-circle
                    a(href="http://flickr.com/vanja-gavric")
                        span.circle.flickr
                            i.icon-flickr
                            span.stripe
                        span.text
                            | Flickr
                .contact-circle
                    a(href="http://500px.com/iamvanja")
                        span.circle.fivehundredpx
                            i.icon-fivehundredpx
                        span.text
                            | 500px

            h2.subheader= $i18n.general.or

            .contact-circles.alternative
                #email-circle.contact-circle
                    a(data-username=email.username, data-domain=email.domain)
                        span.circle.mail
                            i.icon-email
                        span.text
                            = $i18n.articleContact.dropEmail
