article.main-article.photography#photography(role="article", aria-labelledby="main-title-photo")
    div.paused-message
        | slideshow paused. 
        span.click= $i18n.general.click 
        span.tap= $i18n.general.tap 
        |  to resume.
    div.row
        div.large-12.columns
            h2.heading
                - var wordsArr = $i18n.articlePhotography.title.split(" ")
                each word in wordsArr
                    span= word
                    | 

            h2.subheader
                span= $i18n.articlePhotography.subtitle

    .icon-container
        i.icon.icon-pause-circled
        i.icon.icon-play-circled

    div.backstretch-wrap
        //- empty
