footer#footer.footer(role="contentinfo")
    .row
        .small-12.large-6.columns
            .container.info
                p= $i18n.footer.handmade + " :)"

        .small-12.large-6.columns
            .container.links
                .link-container.copyright-link
                  | &copy; 
                  a(href="http://vanja.gavric.org", title="Vanja Gavrić web")
                    span vanja
                    | .gavric
