header#intro.intro
    //- nav#lang-selection.lang-selection.fadeIn.animation-1s.animationDelay-4s(role="navigation")
        ul
            li
                a(href="/hr") HR
            li
                a(href="/en") EN

    div#intro-centered.centered
        .row
            .large-12.columns
                h1
                    span.hi
                        =$i18n.header.hi + "."
                    br
                    span.i-am
                        =$i18n.header.iAm + " Vanja."
                    br
                    img.profile-pic(src=assetsUrl.local + "images/profile.jpg", width="110", height="110", alt="Vanja Gavrić profile photo")

    .scroll-down
        a(href="#developer")
            span
                =$i18n.header.scrollDown
            i.icon-down-circled
