- var isHome = currentPage.name === "index"
- var logoTitle = $i18n.mainNav[ currentPage.name === "index" ? "logoTitle" : "logoTitleNonIndex" ]

nav#main-nav.main-nav
    a#logo.logo(href="/index.html", title="Vanja Gavrić logo. " + logoTitle)
        span.wrap
            span.circle
                | VG
            span.back
                | &larr;

    ul
        li(class=`home ${isHome ? 'active' : ''}`)
            a(href="/", title="Home.")
                i.icon-home
                span.text Home

            if (isHome)
                ul
                    li.developer
                        a(href="#developer", title="Developer.")
                            i.icon-code
                            span.text Developer
                    li.photography
                        a(href="#photography", title= $i18n.general.photography + ".")
                            i.icon-camera
                            span.text= $i18n.general.photography
                    li.writing
                        a(href="#writing", title= $i18n.general.writing + ".")
                            i.icon-feather
                            span.text= $i18n.general.writing
                    li.contact
                        a(href="#contact", title= $i18n.general.contact + ".")
                            i.icon-paper-plane
                            span.text= $i18n.general.contact

        li.blog
            a(href="/blog", title="Blog.")
                i.icon-book
                span.text Blog
        
        li(class=`playground ${currentPage.name === "playground" ? 'active' : ''}`)
            a(href="/playground.html", title="Playground.")
                i.icon-cubes
                span.text Playground

#top.top-anchor
