- var navBase = currentPage.name === "index" ? "" : "/"
nav#main-nav.main-nav
    a#logo.logo(href="/", title="Vanja Gavrić logo. " + $i18n.mainNav.logoTitle)
        span.circle
            | VG
        span.back
            | &larr;

    ul
        li
            a(href=navBase + "#developer", title="Developer.")
                i.icon-code
        li
            a(href=navBase + "#photography", title= $i18n.general.photography + ".")
                i.icon-camera
        li
            a(href=navBase + "#writing", title= $i18n.general.writing + ".")
                i.icon-feather
        li
            a(href=navBase + "#contact", title= $i18n.general.contact + ".")
                i.icon-paper-plane

#top.top-anchor
