nav#main-nav.main-nav.fadeIn.animation-1s.animationDelay-4s
    a#logo.logo(href="/", title="Vanja Gavrić logo. " + $i18n.mainNav.logoTitle)
        span.circle
            | VG

    ul
        li
            a(href="#developer", title="Developer.")
                i.icon-code-1
        li
            a(href="#photography", title= $i18n.general.photography + ".")
                i.icon-camera
        li
            a(href="#writing", title= $i18n.general.writing + ".")
                i.icon-feather
        li
            a(href="#contact", title= $i18n.general.contact + ".")
                i.icon-paper-plane

#top.top-anchor
