script.
    // Opera won't start animation without document ready event
    $(function() {
        var $loader = $('#loader'),
            $firstBorder = $('#loader > div:nth-child(1)'),
            $fourthBorder = $('#loader > div:nth-child(4)'),
            transEndEventNames = {
                'WebkitTransition' : 'webkitTransitionEnd',
                'MozTransition'    : 'transitionend',
                'OTransition'      : 'oTransitionEnd otransitionend',
                'msTransition'     : 'MSTransitionEnd',
                'transition'       : 'transitionend'
            },
            transEndEventName = transEndEventNames[ Modernizr.prefixed('transition') ],
            firstAnimationEnd = function() {
                $fourthBorder.one(transEndEventName, function() {
                    $loader.addClass('border-clear');
                    // console.log('first');
                    secondAnimationEnd();
                });
            },
            secondAnimationEnd = function() {
                $firstBorder.one(transEndEventName, function() {
                    $loader.removeClass('border-fill border-clear').addClass('border-fill');
                    // console.log('second');
                    firstAnimationEnd();
                });
            };

        $loader.addClass('border-fill');
        firstAnimationEnd();
        secondAnimationEnd();

        // fires after 4s to change the loading text
        // if loading is already removed (finished loading),
        // the $loader won't be found in the DOM and all is still good
        var loadingTimer = window.setTimeout(function(){
            var alternativeText = $loader.find('h1').attr('data-alternative');
            $loader.find('h1').fadeOut(function(){
                $(this).html(alternativeText).fadeIn();
            });
        }, 10000);
    });
