script.
    (function(){
        // to avoid implementing document ready or using ugly onLoad=f(),
        // this loader code is placed inside body (body element won't be undefined)
        var loaderHtml = '<div></div><div></div><div></div><div></div><h1 data-alternative="#{$i18n.loader.loadingAlt}">#{$i18n.loader.loading}...</h1>',
            loader = document.createElement('div');
        loader.id = 'loader';
        loader.className = 'loader';
        loader.innerHTML = loaderHtml;
        document.getElementsByTagName('body')[0].appendChild(loader);
    }());
