* {
	margin: 0;
	padding: 0;
}



body {
    margin: 0;
    font-family: Helvetica;
    background: #FFFFFF;
    color: #000000;
    overflow-x: hidden;
    background-repeat: repeat;
    font-family: Helvetica;
    background-color: #c9d2d7;
    background-image: url('pinstripes.png');
}

#display {
	width: 320px;
	z-index: 2;
	position:absolute;
	top:0px;
	left:960px;

}

a[selected], a:active {
    background-color: #194fdb !important;
    color: #FFFFFF !important;
}


/************************************************************************************************/

body > .toolbar {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    border-bottom: 1px solid #2d3642;
    border-top: 1px solid #6d84a2;
    padding: 10px;
    height: 45px;
    background: url(toolbar.png) #6d84a2 repeat-x;
}

.toolbar > h1 {
    position: absolute;
    overflow: hidden;
    left: 50%;
    margin: 1px 0 0 -75px;
    height: 45px;
    font-size: 20px;
    width: 150px;
    font-weight: bold;
    text-shadow: rgba(0, 0, 0, 0.4) 0px -1px 0;
    text-align: center;
    /* text-overflow: ellipsis; */
    white-space: nowrap;
    color: #FFFFFF;
}