doctype html
html(class="no-js", lang=$i18n.lang)
    block vars
    include head.pug

    body(class=currentPage ? currentPage.customClass || currentPage.name : null)
        include ../components/browse-happy.pug
        block body

        block scripts
            include ../page-partials/scripts.pug
