//- script(src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js")
//- script.
    window.jQuery || document.write('<script src="#{assetsUrl.local}js/vendor/jquery-1.11.0.min.js"><\/script>')

include js/rollbar.pug
//- include js/modernizr.pug
script(src=assetsUrl.local + "js/all.js")
include js/google-analytics.pug

